.navbar {
  justify-content: center;
  align-content: center;
  max-width: 600px;
}

.App {
  background-color: #e9e9e9;
  height: 100vh;
  color: #e9e9e9;
}

header {
  background: transparent;
  background-color: transparent;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}

header a {
  margin-left: 24px;
  margin-right: 24px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 .subtitle {
  margin-top: 20px;
}

.mainContent {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}
.zack {
  color: #d1cdcd;
  font-family: Roboto Slab;
}

.mckenna {
  color: #d1cdcd;
  font-family: Roboto Slab;
}

.home {
  align-items: center;
}

