.projectText {
  margin-left: 10vw;
  margin-right: 10vw;
}

a {
  border-bottom: 1px solid #77095c;
  color: #a5269f;
  padding-bottom: .10em;
  text-decoration: none;
}

a:hover {
  border: none;
  background-repeat: repeat-x;
  background-position: 0 98.5%;
  padding-bottom: 3px;
  background-size: 15px 4px;
  background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' x…3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E);
}

